body{
    background-image: url('https://ik.imagekit.io/anthonyalando/Images/blue-abstract-gradient-wave-wallpaper.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669029686471');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}