#location-head{
    font-size: 40px;
    color: rgb(7, 4, 0);
    font-weight: 500;padding-top: 25px;
    text-align: center;}
#location-description{
    color: rgb(246, 245, 248);
    font-size: 20px;font-weight: 300;
    padding-top: 20px;
    text-align: center;}
.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}
.mapouter{text-align:right;height:500px;width:100%;}
#btnOutlets{background-color: #555; color: rgb(255, 253, 253); border-radius: 10px;
   font-size: 22px; padding: 5px; border: none;}
.split-container{background-color: rgb(255, 102, 0);}
