html{scroll-behavior: smooth;}
body{background-color: gainsboro;font-family: Awesome 5 Pro;}
#header-buttons{word-spacing: 30px;display:flex;}
.button
{border: 1px;padding: 15px 20px;
  text-align: center;cursor: pointer;font-size: 14px;font-weight: bold;letter-spacing: 1px;
  border-radius: 25px;background-color: whitesmoke;color: black;
}
button:hover
{
    color: brown;
    -webkit-transform: translateY(-4px);transform: translateY(-4px);
    cursor: pointer;letter-spacing: 2px;
  }
#bakery-name
{text-align:right;font-size:24px;color: white; background-color: brown;background-origin: content-box; 
  letter-spacing: 5px;}
#bakerspoint-notice
{text-align:center;line-height: 1.5;font-size: 24px;}
header
{text-align: center;font-size: 60px;background-color: whitesmoke;position:-webkit-sticky;position: sticky;
  top: 0%;font-weight: 900;width: 100%;overflow: hidden;
}
#page-content
{text-align: center;width: auto;margin: auto;color: black;padding:3px; 
  height:35px;font-size: 36px;font-weight: 700;
}
#bakerspoint-help-note{line-height: 1.8 ;font-weight: 300;}
.footer{padding:10px;
  color: sienna;width:99%;position: absolute; 
  background-image: url('https://ik.imagekit.io/anthonyalando/Images/blue-curve-background-footer.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669029688057');
background-repeat: no-repeat;background-size: 100%;background-size: cover;}
.split-container{width: 100%;display: flex; height: auto;}
.split-container::after{content: "";display: table;clear: both;}
.split-half{float: left;width: 50%;margin: auto;height: 100%;padding-top: 15px;padding-bottom: 20px;padding-left: 15px;}
.footer-left, .footer-middle{float: left;width: 33%;}
.footer-middle{text-align: center;}
#translate-page{padding-top: 10px;}
#footer-middle-content{line-height: 1.0;}
.footer-right
{float: right;width: 33%;text-align: right;word-spacing: 10px; }
.footer-container{width: 100%;display: flex;}
.footer-container::after{content: "";display: table;clear: both;}
@media (max-width: 800px) 
{
  .split-half, #page-content,.footer-right,.footer-left,.footer-middle
  {width: 90%;float: left;padding-top: 10px;}
    .footer-container,.split-container{display: inline-block;}
    header{overflow: scroll;}
    .footer-right,.footer-left,.footer-middle{text-align: left;}
}
input, select
{
  box-sizing: border-box;border: 0.5px solid greenyellow;
  -webkit-transition: 0.5s;
  transition: 0.5s;outline: none;border-radius: 5px;padding: 3px;
}
img{border-radius: 15%;}