#middle-left
{
  background-color: rgb(255, 102, 0);
  min-height: 400px;
  padding-left: 5px;padding-top: 50px;font-size: 20px;
}
#middle-left .fa-truck{
  font-size: 98px;
  padding-top: 100px;
  color: aliceblue;
  position: relative;
  animation-name: example;
  animation-duration: 4s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
@keyframes example{
  from{left: 0%;}
  to{left: 80%;}
}
#bakerspoint-help-note{
  width: 80%;
  margin: auto;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 5px;
}

#split{float:right;}
#btnreserve{width:120px;margin: auto;}


#upper-lower-section{
  background-image: url("https://ik.imagekit.io/anthonyalando/Images/blankWhiteBoard.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1669029687637");
  padding-bottom: 30px;background-repeat: no-repeat;background-size: auto 100%;
}
#form-header{text-align: center;color: burlywood;padding:3px; height:auto;font-size: 28px;
  font-weight: 500;text-decoration: overline burlywood;
}
#bakerspoint-reservation-disclaimer{text-align: center;color: burlywood;font-weight: 400;}
#bakerspoint-personal-reservation-info-header{font-weight:bolder;color: burlywood;}
input[type=submit]:hover, #left-part1:hover
{
  color: brown;
  -webkit-transform: translateY(-1px);transform: translateY(-1px);
  cursor: pointer;letter-spacing: 0.5px;
}
form{text-align: left;}
label{display: inline-block;width: 150px;height: 0.6cm;text-align:left;}
.select{width: 246px;}
input[type=submit]{width: 150px;margin: auto;
  color: white;background-color: blue;padding: 10px;font-size: 20px;
}
input:focus, select:focus{border: 1px solid blue;}

#left-part1
{
  color: brown;font-size: 24px;font-weight: 500;
  text-align: center;padding-left: 5px;padding-top: 30px;
  background-color: aquamarine;width: 90%;min-height: 80px;border-radius: 5px;
}
#right-part1{font-size: 36px;color: burlywood;font-weight: 500;padding-top: 25px;}
#right-part2{color: blueviolet;font-size: 20px;font-weight: 300;padding-top: 20px;}
#form-reserve, #middle-left
{
  color: black;float: left;width: 70%;
  min-height: auto;line-height: 2.4;
}
.logo-section, #middle-right{color: brown;
  font-size: 24px;padding-left: 0.5%;
  float: left;width: auto;min-height: auto;text-align: center;
}
#middle-right-content{
  background-color: antiquewhite;
  font-weight: 700;line-height: 2.0;font-size: 28px;color: blue;
}
#reservations-section::after, #middle-section::after,.split-container::after
{content: "";display: table;clear: both;}
.footer-container{width: 100%;display: flex;}
@media (max-width: 650px) 
{
    #form-reserve, .logo-section,#middle-left, #middle-right
    {
      width: 100%;float: left;padding-top: 5px;
    }
    #upper-lower-section{background-size: 100% 100%;}
    #left-part1{min-height: auto;}
    @keyframes example{
      from{left: 0%;}
      to{left: 70%;}
    }
}
